.mainViewport {
  height: 500px;
  width: 393px;
}

.bookmarksViewport {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  align-items: center;
  background-color: rgb(52, 53, 56);
}

.thumbnailImg,
.bookmarkTitle {
  padding: 5px 7.5px;
  max-height: 225px;
  max-width: 393px;
  font-family: system-ui, sans-serif;
  font-size: large;
  font-weight: bold;
  display: block;
  color: #ddd;
}

.deleteButton,
.saveForLater {
  align-items: left;
  margin: 5px;
}